#app header {
    background: #ff7800;
    padding: 1rem;
}
  
#app header form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#app header form input {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    color: #292961;
    flex-shrink: 0;
    flex-basis: calc(100% - 1rem);
}

#app header form label {
    flex: auto;
    align-self: center;
    text-align: right;
    display: flex;
    gap: 0.20rem;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

#app header form label[for="keep"] {
    align-self: flex-end;
    margin-bottom: 7px;
}


#app header form label span {
    width: 94px;
    text-align: left;
}

#app header form input[type="submit"] {
    background-color: #292961;
    color: white;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 1;
    flex-basis: 100px;
    height: 32px;
    align-self: flex-end;
}

#app header form input[type="checkbox"] {
    flex-shrink: 1;
    flex-basis: auto;
}

#app header form input:focus-visible {
    outline: 2px solid #292961;
}