#app #stats .projects-time {
    background-color: white;
    box-shadow: 0px 0px 2px #29296167;
    padding: 1rem;
    border-radius: 3px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

@media (max-width: 1521px) {
    #app #stats .projects-time {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}

@media (max-width: 1218px) {
    #app #stats .projects-time {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
    }
}

@media (max-width: 615px) {
    #app #stats .projects-time {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
}