#app #stats .sprint-time {
    background-color: white;
    box-shadow: 0px 0px 2px #29296167;
    padding: 1rem;
    border-radius: 3px;
}

/* See card.css */
#app #stats .sprint-time .inTime .number {
    margin-top: 0.7rem;
}