#app #stats #ticket-layout {
    background: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
}

#app #stats #ticket-layout #tickets {
    background: white;
    height: calc(100vh - 2rem);
    max-height: 800px;
    width: calc(100vw - 2rem);
    max-width: 1000px;
    box-shadow: 0px 0px 10px #29296167;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    padding-top: 50px;
    box-sizing: border-box;
}

#app #stats #ticket-layout #tickets button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    background-color: #ff7800;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#app #stats #ticket-layout #tickets #listing {
    overflow: scroll;
    height: 100%;
}


#app #stats #ticket-layout #tickets #listing a {
    display: block;
    margin-top: 10px;
}