#app #stats .card {
    background-color: white;
    box-shadow: 0px 0px 2px #29296167;
    padding: 1rem;
    border-radius: 3px;
}

#app #stats .card .number, #app #stats #milestone .number, #app #stats .sprint-time .number {
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
}

#app #stats .card .total {
    background-color: #292961;
    color: white;
    text-align: center;
    padding: 0.01rem 0.75rem 0.75rem 0.75rem;
    border-radius: 3px;
}

#app #stats .card .numbers, #app #stats #milestone .numbers, #app #stats .sprint-time .numbers {
    display: grid;
    --grid-layout-gap: 0.75rem;
    --grid-column-count: 2;
    --grid-item--min-width: 80px;
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
    margin-top: 5px;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    text-align: center;
}

#app #stats .card .numbers .percent, #app #stats #milestone .numbers .percent, #app #stats .sprint-time .percent {
    font-weight:300;
    font-size: 1.20rem;
}

#app #stats .card .numbers button, #app #stats #milestone .numbers button, #app #stats .sprint-time .numbers button {
    color: white;
    border: none;
    cursor: pointer;
}

#app #stats .card .numbers .open, #app #stats #milestone .numbers .open, #app #stats .sprint-time .numbers .open {
    background-color: rgb(255, 160, 65);
    padding: 0.75rem;
    border-radius: 3px;
}

#app #stats .card .numbers .close, #app #stats #milestone .numbers .close, #app #stats .sprint-time .numbers .close {
    background-color: #ff7800;
    padding: 0.75rem;
    border-radius: 3px;
}