#app #loading {
    background: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
  }
  
  #app #loading #loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  #app #loading #loader div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff7300;
    animation: lds-grid 1.2s linear infinite;
  }
  #app #loading #loader div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  #app #loading #loader div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  #app #loading #loader div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  #app #loading #loader div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  #app #loading #loader div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  #app #loading #loader div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  #app #loading #loader div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  #app #loading #loader div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  #app #loading #loader div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }