#app #stats #milestone {
    background-color: white;
    box-shadow: 0px 0px 2px #29296167;
    padding: 1rem;
    border-radius: 3px;
}

#app #stats #milestone .start-date {
    float:left;
}

#app #stats #milestone .due-date {
    float:right;
}

#app #stats #milestone .react-calendar {
    clear: both;
    border: none;
    border-radius: 10px;
    width: 100%;
}

#app #stats #milestone .react-calendar .react-calendar__tile--range, 
#app #stats #milestone .react-calendar .react-calendar__tile--rangeStart, 
#app #stats #milestone .react-calendar .react-calendar__tile--rangeEnd {
    background-color: rgb(255, 160, 65);
    color: white;
}

#app #stats #milestone .react-calendar .react-calendar__tile--now {
    background-color: #ff7800 !important;
}

#app #stats #milestone .react-calendar .react-calendar__month-view__weekdays__weekday {
    color: #292961;
}

#app #stats #milestone .react-calendar .react-calendar__navigation__next-button:not([disabled]),
#app #stats #milestone .react-calendar .react-calendar__navigation__prev-button:not([disabled]) {
    background-color: #292961;
    color: white;
}

#app #stats #milestone .react-calendar .react-calendar__month-view__days > .react-calendar__tile,
#app #stats #milestone .react-calendar .react-calendar__month-view__weekdays__weekday {
  flex-basis: 20% !important;
  max-width: 20% !important;
  cursor: not-allowed;
}

#app #stats #milestone .react-calendar .react-calendar__month-view__weekdays__weekday:nth-child(6),
#app #stats #milestone .react-calendar .react-calendar__month-view__weekdays__weekday:nth-child(7) {
  display: none !important;
}

#app #stats #milestone .react-calendar .react-calendar__month-view__days__day--weekend {
  display: none !important;
}

/* See Card.css for numbers css */
#app #stats #milestone .numbers {
    margin-top: 1rem !important;
}