body {
    background-color: #29296113;
    color: #292961;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #292961;
}

a:hover {
    color: #ff7800;
}

#app #stats {
    display: grid;
    grid-gap: .75rem .75rem;
    padding: .75rem;
    grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(256px,1fr));
}

#app #stats h2 {
    margin-top: 0;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#app #stats h3 {
    margin: 0;
    font-weight: 300;
    margin-top: 1rem;
}

#app #stats h4 {
    margin: 0;
    font-weight: 300;
    font-size: 1.20rem;
}